alembic==1.13.1
pytest-cov==5.0.0
Flask==3.0.3
Flask-Migrate==4.0.7
Flask-SQLAlchemy==3.1.1
itsdangerous==2.2.0
Jinja2==3.1.4
MarkupSafe==2.1.5
marshmallow==3.21.2
poetry==1.8.3
pre-commit==3.7.1
psycopg2-binary==2.9.9
pydantic_core==2.18.2
pytest==8.2.1
python-dotenv==1.0.1
SQLAlchemy==2.0.30
SQLAlchemy-Utils==0.41.2
virtualenv==20.26.2
Werkzeug==3.0.3
